@font-face {
  font-family: 'Open Sans';
  src: url('../../assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans - Extrabold';
  src: url('../../assets/fonts/Open_Sans/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Airbag Free';
  src: url('../../assets/fonts/airbag-free-font/AirbagFree-Regular.ttf') format('truetype');
  src: url('../../assets/fonts/airbag-free-font/AirbagFree-Regular.otf') format('otf');
}

@font-face {
  font-family: 'fontello';
  src: url('../../assets/fonts/fontello/font/fontello.eot');
  src: url('../../assets/fonts/fontello/font/fontello.eot') format('embedded-opentype'),
  url('../../assets/fonts/fontello/font/fontello.woff2') format('woff2'),
  url('../../assets/fonts/fontello/font/fontello.woff') format('woff'),
  url('../../assets/fonts/fontello/font/fontello.ttf') format('truetype'),
  url('../../assets/fonts/fontello/font/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?87560444#fontello') format('svg');
  }
}
*/

[class$="icon-stack"]:before, [class*="icon-stack "]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.menuicon-stack:before { content: '\e801'; } /* '' */
.mailicon-stack:before { content: '\e802'; } /* '' */
.dribbble-circledicon-stack:before { content: '\f04f'; } /* '' */
.facebook-circledicon-stack:before { content: '\f051'; } /* '' */
.twitter-circledicon-stack:before { content: '\f057'; } /* '' */
.gplus-circledicon-stack:before { content: '\f059'; } /* '' */
.vimeo-circledicon-stack:before { content: '\f307'; } /* '' */
.linkedin-circledicon-stack:before { content: '\f319'; } /* '' */