// Размеры экрана
$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 1180px;
$screen-xl: 1440px;

// Переходы
$transition-normal: .25s;
$transition-medium: .15s;
$transition-fast: .1s;

//
$bg-section: #f5f5f5;
$bg-circle: #2c3640;

//
$color-text-1: #e8e8e8;
$color-text-2: #29323c;
$color-btn: #485563;
$color-border: #f2f2f2;
$color-section: #f5f5f5;

