<div class="b-reviews">
  <p class="b-reviews__text"> Bebed pupu warni sangsam ngundang ajang, gujeng sirah lair menda bebucal benang; lek-lekan? madeg pendhet lenggah, "nanem dipetak dhuwung, dipun
    awis bokong ayam. gendhis angsal jawa ipsum nangis rumput wilujeng unyeng-unyeng; pados gujeng benter andhap lisa leres, lisah, ulem-ulem nedhi gesang manah cangkem: nem
    aken benter bebucal baita dangu</p>
  <p class="b-reviews__icon">„</p>

  <div class="b-reviews__client">
    <div class="b-reviews__avatar">
      <img src="assets/img/avatar.jpg" alt="#">
    </div>
    <p class="b-reviews__name">Vasily Nganu</p>
    <p class="b-reviews__prof">Dropbox Senior Developer</p>
  </div>

  <div class="b-reviews__btn">
    <div class="b-reviews__dot"></div>
    <div class="b-reviews__dot"></div>
    <div class="b-reviews__dot"></div>
  </div>
</div>