.b-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__text {
    color: #2b3746;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }

  &__icon {
    opacity: 0.5;
    color: #2b3746;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    font-style: italic;
    line-height: 26px;
    margin-bottom: 42px;
  }

  &__avatar {
    margin-bottom: 5px;
  }

  &__name {
    color: $color-text-2;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
  }

  &__prof {
    margin-bottom: 31px;
    opacity: 0.8;
    color: $color-text-2;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
  }

  &__btn {
    display: flex;
    margin-bottom: 100px;
  }

  &__dot {
    width: 13px;
    height: 13px;
    border: thin solid #2b3746;
    border-radius: 30px;
    margin: 0 2.5px;
  }

}