.b-btn {
  width: 125px;
  height: 40px;
  background-color: $color-btn;
  color: $color-text-1;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border-radius: 50px;
  text-align: center;
  &:hover {
    background-color: $color-text-1;
    color: $color-btn;
  }

  &.mod-btn {
    background: none;
    margin-bottom: 90px;
    &:hover {
      background-color: $color-btn;
      color: $color-text-1;
    }
  }

  &.mod-btn-header {
    background: none;
    border: 1px solid $color-border;
    width: 47px;
    height: 47px;
    &:hover {
      background-color: $color-btn;
      color: $color-text-1;
    }

    button {
      border: 3px solid $color-border;
      border-left: none;
      border-top: none;
      width: 15px;
      height: 15px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      opacity: 0.7;
    }
  }
}

.mod-btn {
  width: 126px;
  border: 1px solid $color-border;
}

.mod-btn-middle {
  margin-top: 93px;
  width: 200px;
}