<div class="b-price">
  <div class="b-price__card">
    <div class="b-price__head">
      <div  class="b-price__name">
        <p>Standard pack</p>
      </div>
      <div class="b-price__tag">
        <p>$50</p>
      </div>
      <div class="b-price__time">
        <p>per month</p>
      </div>
    </div>
    <div class="b-price__body">
      <div class="b-price__text">
        <p>exercitation ullaborum sed do
          eiusmod tempor incididunt ut quis
          nostrud exercitation ullamco laboris</p>

      </div>
      <div class="b-btn">sign up</div>
    </div>



  </div>
</div>