.b-price {
  max-width: 385px;
  width: 100%;
  text-align: center;
  border: thin solid #dddddd;
  color: $color-text-2;
  font-family: "Open Sans", sans-serif;
  

  &__head {
    border-bottom: thin solid #dddddd;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 36px;
    display: inline-block;
    margin: 19px 0 28px 0;
  }

  &__tag {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 900;
    line-height: 9px;
    display: inline-block;
    margin-bottom: 25px;
  }

  &__time {
    opacity: 0.8;
    font-size: 14px;
    font-weight: 300;
    line-height: 9px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 30px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;

    .b-price__text {
      margin-top: 22%;
      width: 70%;
      font-size: 14px;
      font-weight: 400;
      line-height: 40px;
      margin-bottom: 60px;
      display: inline-block;
    }
  }
}
