<div class="b-team">
  <img src="assets/img/photo-{{i}}.jpg" alt="#" class="b-team__avatar">
  <div class="b-team__content">
    <p class="b-team__name">salazar slytherin</p>
    <p class="b-team__prof">CEO</p>
    <div class="b-team__icons">
      <div class="twitter-circledicon-stack"></div>
      <div class="linkedin-circledicon-stack"></div>
      <div class="vimeo-circledicon-stack"></div>
      <div class="dribbble-circledicon-stack"></div>
      <div class="mailicon-stack"></div>
    </div>
  </div>
</div>