.b-team {
  width: 100%;
  max-width: 270px;
  display: flex;
  flex-direction: column;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    opacity: 0.75;
    padding-top: 28px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    color: $color-text-2;
  }
  &__name {
    font-size: 15px;
    font-weight: 700;
  }
  &__prof {
    margin-bottom: 19px;
    opacity: 0.8;
    font-size: 14px;
    font-weight: 400;
  }
  &__icons {
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-bottom: 28px;
    div::before {
      margin: 0;
    }
  }
}