.b-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 42px 0;


  color: $color-text-2;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.35px;

  &__text {
    display: flex;
    padding-right: 8.6%;
    .b-logo {
      text-transform: uppercase;
      text-shadow:  none;
      margin-right: 25px;
      font-size: 52px;
      margin-left: 16px;
    }

  }
  &__social {
    display: flex;
    align-items: center;
    p {
      margin-right: 22px;
    }
    img {
      width: 35px;
      height: 35px;
    }
  }

  &__icons {
    display: flex;
    font-size: 37px;
    opacity: 0.8;
    color: $color-text-2;
    div::before {
      margin: 0 3px;
    }
  }
}