<div class="b-footer mod-bg-section">

  <div class="b-footer__text">
    <div class="b-logo">
      <p>Zet</p>
    </div>

    <div class="b-footer__copy">
      <p>&copy; Copyright 2015. Allright Reserved</p>
    </div>
  </div>

  <div class="b-footer__social">
    <p>Stay In Touch</p>
    <div class="b-footer__icons">
      <div class="facebook-circledicon-stack"></div>
      <div class="twitter-circledicon-stack"></div>
      <div class="gplus-circledicon-stack"></div>
      <div class="dribbble-circledicon-stack"></div>
    </div>
  </div>



</div>


<script src="scripts/vendor/jquery-3.3.1.min.js"></script>
<script src="scripts/scripts.js"></script>
<script src="scripts/buttons.js"></script>