<!doctype html>
<html lang="ru">

{%include "parts/meta.html"%}

<body>

{%include "../blocks/browser-update/browser-update.html"%}


<div class="b-section mod-bg-header">


  {%include "../blocks/header/header.twig"%}


  <div class="b-section__row">
    <div class="b-section__title mod-title-header">
      <span>Something Nothing</span>
      <p>Enean vulputate eleifend tellus. aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim iam ultricies nisi eleifend tellus.</p>
      <div>
        <button type="button" class="b-btn mod-btn">let’s talk</button>
      </div>
    </div>

    <div class="b-section__content mod-header-content">
      <div class="b-btn mod-btn-header js-scroll">
        <button type="button"></button>
      </div>
      <div class="b-section__line"></div>
    </div>

  </div>


</div>
{#/////////////////////////////////////////////////////////////////////#}
<div class="b-section mod-bg-section">

  <div class="b-section__row">

    {%include "../blocks/section-title/section-title.twig"%}

    <div class="b-section__content">

      {%for i in 1..4%}
        {%include "../blocks/advantages/advantages.twig"%}
      {%endfor%}

    </div>
  </div>
</div>
{#/////////////////////////////////////////////////////////////////////#}
<div class="b-section">

  <div class="b-section__row">

    {%include "../blocks/section-title/section-title.twig"%}

  </div>

  {%include "../blocks/collage/collage.twig"%}

</div>
{#/////////////////////////////////////////////////////////////////////#}
<div class="b-section">

  <div class="b-section__row">

    {%include "../blocks/section-title/section-title.twig"%}

    <div class="b-section__content">
      {%include "../blocks/reviews/reviews.twig"%}
    </div>

  </div>
</div>
{#/////////////////////////////////////////////////////////////////////#}
<div class="b-section mod-bg-midlle">

  <div class="b-section__row">
    {%include "../blocks/section-title/section-title.twig"%}

    <div class="b-section__content">

      {%for i in 1..4%}
        {%include "../blocks/team/team.twig"%}
      {%endfor%}

    </div>

    <button type="button" class="b-btn mod-btn mod-btn-middle">MEET OUR FULL TEAM</button>

  </div>
</div>
{#/////////////////////////////////////////////////////////////////////#}
<div class="b-section mod-bg-section">
  <div class="b-logos">
    <div>
      <img src="assets/img/coca-cola.svg" alt="#">
    </div>
    <div>
      <img src="assets/img/dropbox.svg" alt="#">
    </div>
    <div>
      <img src="assets/img/intel.svg" alt="#">
    </div>
    <div>
      <img src="assets/img/zendesk.svg" alt="#">
    </div>
    <div>
      <img src="assets/img/nokia.svg" alt="#">
    </div>
  </div>
</div>
{#/////////////////////////////////////////////////////////////////////#}
<div class="b-section">

  <div class="b-section__row">

    {%include "../blocks/section-title/section-title.twig"%}

    <div class="b-section__content mod-price">

      {%for i in 1..3%}

        {%include "../blocks/price/price.twig"%}

      {%endfor%}

    </div>


  </div>

</div>
</div>
{#/////////////////////////////////////////////////////////////////////#}
<div class="b-section">


  <div class="b-contacts">
    {%include "../blocks/map/map.twig"%}
    {%include "../blocks/form/form.twig"%}
  </div>


</div>
</div>

{%include "../blocks/footer/footer.twig"%}

</body>
</html>
