.b-section__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-text-2;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 97px;
  margin-bottom: 56px;

  h3 {
    font-family: "Open Sans - Extrabold", sans-serif;
    font-size: 26px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 6px;
  }

  p {
    margin-bottom: 9px;
  }

  .b-section__line {
    width: 40px;
    background-color: $color-text-2;
    height: 1px;
    border: 1px solid $color-text-2;
    opacity: 0.8;
    margin-left: 0;
  }
}