.b-map  {
  background-image: url('../assets/img/map.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

  max-width: 800px;
  width: 100%;
  height: 650px;
}