.b-advantages {
  width: 100%;
  max-width: 255px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 8px 100px;

  &__icon {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    background-image: radial-gradient(circle 60px at center, #485563 0%, #29323c 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 27px;
  }

  &__title {
    color: $color-text-2;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    margin-bottom: 6px;
  }

  &__content {
    opacity: 0.8;
    color: $color-text-2;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
}