<div class="b-advantages">
  <div class="b-advantages__icon">
    <div>
      <img src="../assets/img/icon-laptop.svg" alt="">
    </div>
  </div>
  <div class="b-advantages__text">
    <p class="b-advantages__title">fully responsive</p>
    <p class="b-advantages__content">aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. phasellus viverra nulla ut metus varius laoreet.</p>
  </div>
</div>