
.b-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .b-logos {
    width: 100%;
    max-width: 1080px;
    display: flex;
    padding: 53px 0;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }


  &__row {
    width: 100%;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  &__line {
    /* Style for "Shape 1" */
    width: 1px;
    height: 104px;
    border: 0 solid $color-border;
    background-color: $color-border;
    opacity: 0.7;
  }

  .b-contacts {
    display: flex;
    width: 100%;
    margin-top: 115px;
    justify-content: center;
    flex-wrap: wrap;
  }

}

.mod-bg-header {
  background-image: url('../assets/img/bg-header.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.mod-bg-midlle {
  background-image: url('../assets/img/bg-middle.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.mod-bg-section {
  background-color: $color-section;
}

.mod-header-content {
  flex-direction: column;
  align-items: center;
}


.mod-title-header {
  color: $color-text-1;
  font-size: 17px;
  font-weight: 300;
  line-height: 25px;
  max-width: 625px;
  padding-top: 102px;

  span {
    margin-bottom: 24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 900;
    line-height: 40px;
    text-transform: none;
    letter-spacing: -1.8px;
  }

  p {
    margin-bottom: 26px;
    text-align: center;
  }
}

.mod-title {
  color: $color-text-1;
  .b-section__line {
    background-color: $color-text-1;
    border-color: $color-text-1;
  }
}
.mod-price {
  justify-content: center;
}

