<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Привет, мир!</title>
  <meta name="description" content="...">

  <link rel="icon" type="image/png" href="assets/favicon/favicon.png" sizes="16x16">
  <!--<link rel="apple-touch-icon" href="assets/favicon/favicon-114-iphone.png">-->
  <!--<link rel="icon" type="image/png" href="assets/favicon/favicon-64.png" sizes="64x64">-->

  <!-- Opengraph -->
  <!--<meta property="og:locale" content="ru_RU">-->
  <!--<meta property="og:type" content="website">-->
  <!--<meta property="og:url" content="...">-->
  <!--<meta property="og:title" content="...">-->
  <!--<meta property="og:description" content="...">-->
  <!--<meta property="og:image" content="...">-->
  <!--<meta property="og:image:width" content="400" />-->
  <!--<meta property="og:image:height" content="300" />-->

  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
