
.menuicon-stack:before { content: '\e801'; } /* '' */
.mailicon-stack:before { content: '\e802'; } /* '' */
.dribbble-circledicon-stack:before { content: '\f04f'; } /* '' */
.facebook-circledicon-stack:before { content: '\f051'; } /* '' */
.twitter-circledicon-stack:before { content: '\f057'; } /* '' */
.gplus-circledicon-stack:before { content: '\f059'; } /* '' */
.vimeo-circledicon-stack:before { content: '\f307'; } /* '' */
.linkedin-circledicon-stack:before { content: '\f319'; } /* '' */