<div class="b-header">


  {%set data = {
    title: ['Services', 'Works', 'Happy clients', 'Team', 'Price', 'Contacts'],

  }%}


  <div class="b-logo">
    <p>Zet</p>
  </div>
  <div class="b-header__menu">
    <div class="b-header__icon js-click-menu">
      <p>menu</p>
      <div class="menuicon-stack"></div>
    </div>
    <ul class="b-header__list js-show-menu">
      <li><a href="#services">Services</a></li>
      <li><a href="#works">Works</a></li>
      <li><a href="#clients">Happy clients</a></li>
      <li><a href="#team">Team</a></li>
      <li><a href="#price">Price</a></li>
      <li><a href="#contacts">Contacts</a></li>
    </ul>
  </div>
</div>