.b-header {
  display: flex;
  width: 73.125%;
  max-width: 1170px;
  justify-content: space-between;
  padding-top: 25px;
  margin-bottom: 103px;
  color: $color-text-1;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 400;


  &__menu {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: -0.35px;


    .menuicon-stack {
      width: 30px;
      margin-left: 10px;
    }

    .menuicon-stack:before {
      content: '\e801';
      display: inline-block;
      font-size: 29px;
      padding-top: 4px;
      margin-right: 0;
    }

    .b-header__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        text-decoration: underline;
      }
      p {
        display: inline-block;
        margin-bottom: 4px;
      }
    }

    .b-header__list {
      display: none;
      position: absolute;
      li {
        height: 30px;
        a {
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.b-logo {
  font-family: "Airbag Free", sans-serif;
  text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.5);
  font-size: 55px;
  margin-left: 5px;
}

.js-show-menu.isActive {
  display: block;
}