.b-form {
  background-image: url('../assets/img/bg-form.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

  width: 100%;
  max-width: 800px;
  min-height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  color: #f6f6f6;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;

  &__input {
    display: flex;
    justify-content: space-between;
    &:last-child {
      justify-content: flex-end;
    }

    label {
      padding-right: 50px;
    }

    input {
      width: 300px;
      height: 45px;
      border: thin solid $color-border;
      opacity: 0.7;
      margin-bottom: 25px;
      &[type="submit"] {
        width: 120px;
        height: 45px;
        color: inherit;
        font-size: inherit;
      }
    }
  }



}

