<div class="b-form">

  <form action="#">
    <div class="b-form__input">
      <label for="">Name</label>
      <input type="text">
    </div>
    <div class="b-form__input">
      <label for="">Email</label>
      <input type="email">
    </div>
    <div class="b-form__input">
      <label for="">Phone</label>
      <input type="number">
    </div>
    <div class="b-form__input">
      <label for="">Message</label>
      <input type="text">
    </div>

    <div class="b-form__input">
      <input type="submit" value="Submit">
    </div>

  </form>

</div>